$tedred: #e80000;

html,
body{
  background-color: #e7e7e7;
  background-image: url('https://d3d9cvaw5rrb1q.cloudfront.net/events/backgrounds/000/000/886/original/bg_tedxkmutt.jpg?1471334766');
}

iframe{
  width: 100%;
  height: 70%;
  // box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .75);
}

#youtube{
  margin-top: 8rem;
  padding: 1rem 0rem 1.5rem 0rem;
  #in{
  }
}

#alt{
  padding: 1rem 0rem;
  #aisapp{
    -webkit-appearance: none;
    border: none;
    border-radius: 6px;
    padding: .75rem 1.25rem;
    background-color: #D2D52F;
    font-size: 2rem;
    outline: 0;
    img{
      max-width: 4rem;
      margin-right: 1rem;
    }
    &:hover,
    &:focus{
      background-color: darken(#D2D52F, 5);
    }

    &:active{
      background-color: darken(#D2D52F, 8);
    }
  }
}

.card {
  padding: 1rem;
  background-color: #FFF;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .25);
  &+&{
    margin-top: 1rem;
  }
}

// .header{
//   position: fixed;
//   width: 100%;
//   top: 0;
//   background-color: #FFF;
//   padding-top: 1em;
//   padding-bottom: 1em;
//   line-height: 4rem;
//   font-size: 1.5rem;
//   color: #000;
//   z-index: 999;
//   #clock{
//     font-size: 2rem;
//   }
//   img{
//     max-height: 4rem;
//   }
// }

.tedxkmutt {
  img {
    padding-top: 3rem;
    margin: 0 auto;
    width: 400px;
  }
}

.clock {
  color: white;
  font-size: 4em;
}

.live_cir {
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
}

.live-cir{
  max-height: 1.5rem;
  position: relative;
  top: -.225rem;
  animation: live_cir 1.5s linear infinite;
  -webkit-animation: live_cir 1.5s linear infinite;
}

@keyframes live_cir {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@-webkit-keyframes live_cir {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.full-frame{

}
