$tedred: #e80000;
$tedgray: #acacac;
$linkgray: #C9C2C1;
$hovergray: #e8e8e8;
$tedsection: #E74540;
* {
	outline: 0;
}

html,
body {
	padding: 0;
	margin: 0;
	// background-color: $tedred;
	background: url('/img/BACKGROUND1.png');
	background-size: cover;
	background-position-y: -800px;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.web_ctrl {
	max-width: 1366px;
	margin: 0 auto;
}

.navbar {
	border-radius: 0px;
	padding: 15px 0;
}

.navbar-brand {
	height: 55px;
	padding: 5px;
}


nav {
	background-color: #FFF;
	padding: 20px 0px;
	margin-bottom: 0px !important;
	.navbar-toggle {
		border: 1px solid $tedred;
		background-color: rgba($color: #f00, $alpha: 0.05);
		&.collapsed {
			background-color: transparent;
		}
		.icon-bar {
			background-color: $tedred;
		}
	}
	.logo {
		img {
			height: 100%;
		}
	}
	.nav {
		li {
			margin-left: 10px;

			&.active {
				a {
					color: $tedred;
					font-weight: 500;
				}
				.line {
					@media only screen and (min-width: 769px) {
						background-color: $tedred;
						height: 2px;
						margin-top: 5px;
						margin-left: auto;
						margin-right: auto;
						width: 70%;
					}
				}
			}
		}
		a {
			color: $linkgray;
			&:hover,
			&:focus {
				background-color: transparent;
				color: $tedgray;
			}
		}
		.lang_select {
			margin: 10px 15px;
			padding: 0px;
			li {
				list-style: none;
				display: inline-block;
				padding: 5px;
				&.selected {
					background-color: $tedred;
					a {
						color: #fff;
					}
				}
			}
			li+li {
				padding-left: 5px;
			}
			a {
				padding-top: 15px;
				padding-bottom: 15px;
				color: $tedred;
				&:hover,
				&:focus {
					text-decoration: none;
				}
			}
		}
	}
}

#banner {
	// min-height: 500px;
	margin-top: 6em;
	background: transparent;
	padding: 0;

	img {
		width: 100%;
	}
}

.fullscreen {
	height: 100%;
	width: 100%;
}

#about {
	padding: 5em 0px;
	background: url('/img/ABOUT_bg.png');
	background-size: cover;
	width: 100%;
	color: #FFF;
	h2 {
		font-weight: 300;
		&.heading {
			margin: 40px 0px 40px 10px;
		}
	}
	.grids {
		.grid-stack-item {
			border-radius: 2px;
			background-color: #FFF;
			color: #000;
			box-shadow: 0px 0px 5px 0px rgba($color: #000, $alpha: .25);
			cursor: pointer;
			transform: scale(0.98);
			transition: all ease .25s;
			.grid-stack-item-content {
				overflow: auto;
				padding: 1.5em 1.5em;
				.heading {
					font-weight: 700;
					color: $tedred;
					margin: 0px 0px .75em 0px;
					&.big {
						margin: 0px 0px 1.2em 0px;
					}
				}
				.content {
					line-height: 1.5em;
					font-size: 1em;
					color: #444;
				}
				.content+.content {
					margin-top: 30px;
				}
			}
			&:hover {
				box-shadow: 0px 0px 8px 1px rgba($color: #000, $alpha: .25);
				transform: scale(1.0);
			}
			&:active {
				background-color: #efefef;
			}
		}
	}

	.qoute {
		margin-left: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-style: italic; 
	}
}

#schedule {
	// height: 600px;
	h2 {
		&.heading {
			margin: 0 auto;
			color: #FFF;
			font-weight: 300;
			text-align: center;

			.under-line {
				margin: 10px auto;
			}
		}
	}
}

#venue {
  background-color: #484848;
  background-image: url('/img/Kx-Image.png');
  background-repeat: no-repeat;
  background-position-x: right;
  color: #FFF;
  padding: 2em 0em;

	.info {
		display: inline-block;
		margin-bottom: 20px;
	}

  #minimap {
		position: relative;
    width: 500px;
		height: 500px;
    left: 50%;
		top: 50%;
    text-align: right;
		background-color: $tedred;
		border: 5px solid #FFF;
		cursor: pointer;
    iframe {
			width: 100%;
			height: 100%;
			// transform: translateY(-50%);
			right: 0;
			position: absolute;
    }
		&:before, &:after {
			transition: all 0.25s ease;
			position: absolute;
			display: block;
		}
		
		&:before {
			content: '';
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: #000;
			opacity: 0;
			z-index: 10;
		}

		&:after {
			text-transform: uppercase;
			content: 'Click to Interact';
			background: $tedred;
			color: #fff;
			width: 200px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			top: 50%;
			margin-top: -25px;
			left: 50%;
			margin-left: -100px;
			z-index: 11;
			opacity: 0;
		}

		&:hover:before {
			opacity: 0.3;
		}

		&:hover:after {
			opacity: 1;
		}
		
		&.interact {
			&:before, &:after {
				display: none;
			}
		}
  }

  .relative {
    position: relative;
  }
  .venue {
    margin-top: 2.15em;
    font-weight: 300;
    font-size: 5em;
    transform: rotate(-90deg);
  }
  .heading {
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: .5em;
    p {
      margin: 0;
    }
  }
  .content {
    p+p {
      margin-top: 1.5em;
    }
    .i {
      font-style: italic;
    }
    .light {
      font-weight: 300;
    }
    .thin {
      font-weight: 400;
    }
  }
  h2 {
    color: #FFF;
    font-weight: 300;
    &.heading {
      margin: 40px 0px 40px 10px;
    }
  }
  #kx {
    width: 42%;
    margin: 2.5em 0em 4em 0em;
  }
}

#contact {
  border-bottom: 8px solid $tedred;
  color: #FFF;
  h2 {
    color: #FFF;
    font-weight: 300;
    &.heading {
      margin: 40px 0px 40px 10px;
    }
  }
  .social-zone{
    margin: 3em 0em 0em 0em;
    .social{
      display: inline-block;
      img{
        width: 3rem;
      }
    }
    .social + .social {
      margin-left: 1.5em;
    }
  }
  .license{
    font-weight: 300;
    font-size: .65em;
		margin-top: 20px;
		text-align: center;
  }
  .k{
    font-size: 1.115em;
  }
  .thin{
    font-weight: 300;
  }
	.cont {
		font-size: .9em;
		color: white;
		
		p {
			margin:0 0 5px 0;
		}

		a {
			color: $linkgray;

			&:hover {
				color: $tedred;
			}
		 }
	}

  #contact-form{
    width: 40%;
    text-align: right;
  }

  .ted-contact-form-control{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 0;
    input,
    textarea,
    button{
      padding: .75em .65em;
      width: 100%;
      -webkit-appearance: none;
      border: 0;
    }
    textarea{
      &.no-resize{
        resize: none;
      }
    }
    
    button{
      background-color: rgba($color: $tedred, $alpha: .75);
      color: white;
			font-weight: 500;
      width: 60%;
      text-transform: uppercase;
			position: relative;

			&:before {
				border: 1px solid #fff;
				content: "";
				position: absolute;
				top: 5px;
				bottom: 5px;
				left: 5px;
				right: 5px;
			}

			&.block{
        width: 100%;
      }
      &:hover,
      &:focus{
        // background-color: darken($color: $hovergray, $amount: 8);
        background-color: rgba($color: $tedred, $alpha: .65);
      }
      &:active{
        // box-shadow: inset 0px 3px 10px 0px rgba($color: #000, $alpha: 0.7);
        background-color: darken($color: $hovergray, $amount: 15);
      }
    }
    input,
    textarea{
      background-color: white;
      color: $tedgray;
			font-weight: 300;
      $contact-placeholder: rgba($color: $tedgray, $alpha: .75);
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $contact-placeholder;
        font-weight: 300;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $contact-placeholder;
        font-weight: 300;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $contact-placeholder;
        font-weight: 300;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $contact-placeholder;
        font-weight: 300;
      }
    }
    .ted-contact-form{
      margin: .75em 0em;
    }
  }
}

.timeline dl {
	position: relative;
	top: 0;
	padding: 20px 0;
	margin: 0
}

.timeline dl:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	z-index: 100;
	width: 2px;
	margin-left: -1px;
	content: '';
	background-color: #ccd1d9
}

.timeline dl dt {
	position: relative;
	top: 30px;
	z-index: 200;
	width: 120px;
	padding: 3px 5px;
	margin: 0 auto 30px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	background-color: $tedsection;
}

.timeline dl dd {
	position: relative;
	z-index: 200
}

.timeline dl dd .circ {
	position: absolute;
	top: 40px;
	left: 50%;
	z-index: 200;
	width: 22px;
	height: 22px;
	margin-left: -11px;
	background-color: $tedred;
	border: 4px solid #f5f7fa;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%
}

.timeline dl dd .time {
	position: absolute;
	top: 31px;
	left: 50%;
	display: inline-block;
	width: 100px;
	padding: 10px 20px;
	color: #fff;
}

.timeline dl dd .events {
	position: relative;
	width: 47%;
	padding: 30px 20px;
	margin-top: 31px;
	background-color: #fff;
}

.timeline dl dd .events:before {
	position: absolute;
	top: 12px;
	width: 0;
	height: 0;
	content: '';
	border-style: solid;
	border-width: 6px
}

.timeline dl dd .events .events-object {
	margin-right: 10px
}

.timeline dl dd .events .events-body {
	overflow: hidden;
	zoom: 1
}

.timeline dl dd .events .events-body .events-heading {
	margin: 0 0 10px;
	font-size: 14px
}

.timeline dl dd.pos-right .time {
	margin-left: -100px;
	text-align: right
}

.timeline dl dd.pos-right .events {
	float: right
}

.timeline dl dd.pos-right .events:before {
	left: -12px;
	border-color: transparent #fff transparent transparent
}

.timeline dl dd.pos-left .time {
	margin-left: 0;
	text-align: left
}

.timeline dl dd.pos-left .events {
	float: left
}

.timeline dl dd.pos-left .events:before {
	right: -12px;
	border-color: transparent transparent transparent #fff
}

@media screen and (max-width: 767px) {
	.timeline dl:before {
		left: 20px
	}
	.timeline dl dt {
		margin: 0 0 30px
	}
	.timeline dl dd .circ {
		left: 20px
	}
	.timeline dl dd .time {
		left: 0
	}
	.timeline dl dd.pos-left .time {
		padding: 10px 0;
		margin-left: 0;
		text-align: left
	}
	.timeline dl dd.pos-left .events {
		float: right;
		width: 84%
	}
	.timeline dl dd.pos-left .events:before {
		left: -12px;
		border-color: transparent #fff transparent transparent
	}
	.timeline dl dd.pos-right .time {
		padding: 10px 0;
		margin-left: 0;
		text-align: left
	}
	.timeline dl dd.pos-right .events {
		float: right;
		width: 84%
	}
}

#schedule {
	.date {
		color: $tedgray;
		font-size: 14px;
		margin-bottom: 5px;
	}
	.event-where {
		color: $tedred;
		font-size: 16px;
		font-weight: 700;
	}
	.event-regis {
		font-size: 24px;
	}
}

.section {
	padding: 30px;
}

#menu .nav .apply-now {
	background-color: #e80000;
	color: white;
	padding: 0 5px;
	position: relative;
	font-weight: 700;
	letter-spacing: 0;
	a {
		color: white;
	}

	&:before {
		border: 1px solid #fff;
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
	}
}

.fb-page-box,
.twitter-box {
	margin-top: 40px;
}

.under-line {
	background-color: white;
	height: 4px;
	margin: 10px 0;
	width: 40%;
}

@media only screen and (max-width: 769px) {
	#about {
		padding: 0;

		h2 {
			font-size: 20px;
			&.heading {
				margin: 20px 0px 10px 10px;
			}
		}
	}
}

#about,
#schedule,
#contact {
	.heading {
		display: inline-block;
	}
}

.events {

	.type-ticket {
		margin: 0;
		font-size: 12px;	
	}

	.last {
		margin-top: 10px;
	}

	a {
		color: $tedred;
	}

}

@media (min-width: 992px) and (max-width: 1199px) { 
	.navbar-header {
		display: block;
		width: 100%;
		text-align: center;

		.navbar-brand {
			width: 100%;
		}
	}

	.navbar-collapse {
		text-align: center;
		.navbar-right {
			float: none !important;
			display: inline-block;
		}
	}

	#venue #minimap {
		width: 400px;
		height: 400px;
	}
}

@media only screen and (max-width: 991px) {
	#venue .heading {
		font-size: 1.2em;
	}
	#venue #minimap {
		display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
	}

	.fb-page {
		display: inline-block !important;
		text-align: center;
		width: 100%;
	}
}