$tedred: #e80000;
$tedgray: #acacac;
$linkgray: #C9C2C1;
$hovergray: #e8e8e8;
$tedsection: #E74540;
* {
  outline: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  // background-color: $tedred;
  background: url('/img/BACKGROUND1.png');
  background-size: cover;
  background-position-y: -800px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.web_ctrl {
  max-width: 1366px;
  margin: 0 auto;
}

.navbar {
  border-radius: 0px;
}

.navbar-brand {
  height: 72px;
}

nav {
  background-color: #FFF;
  padding: 20px 0px;
  margin-bottom: 0px !important;
  .navbar-toggle {
    border: 1px solid $tedred;
    background-color: rgba($color: #f00, $alpha: 0.05);
    &.collapsed {
      background-color: transparent;
    }
    .icon-bar {
      background-color: $tedred;
    }
  }
  .logo {
    img {
      height: 100%;
    }
  }
  .nav {
    li {
      &.active {
        a {
          color: $tedred;
        }
        .line {
          @media only screen and (min-width: 769px) {
            background-color: $tedred;
            height: 2px;
            margin-top: 5px;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
          }
        }
      }
    }
    a {
      color: $linkgray;
      &:hover,
      &:focus {
        background-color: transparent;
        color: $tedgray;
      }
    }
    .lang_select {
      margin: 15px;
      padding: 0px;
      li {
        list-style: none;
        display: inline;
        &.selected {
          background-color: $tedred;
          padding: 5px 1px 5px 5px;
          a {
            color: #fff;
          }
        }
      }
      li+li {
        padding-left: 5px;
      }
      a {
        padding-top: 15px;
        padding-bottom: 15px;
        color: $tedred;
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}

#banner {
  // min-height: 500px;
  margin-top: 6em;
  background: transparent;
  img {
    width: 100%;
  }
}

.fullscreen {
  height: 100%;
  width: 100%;
}

#about {
  // background-color: #E74540;
  // height: 200%;
  padding: 5em 0px;
  background: url('/img/ABOUT_bg.png');
  background-size: cover;
  width: 100%;
  color: #FFF;
  h2 {
    font-weight: 300;
    &.heading {
      margin: 40px 0px 40px 20px;
    }
  }
  .grids {
    .grid-stack-item {
      border-radius: 2px;
      // list-style: none;
      background-color: #FFF;
      color: #000;
      box-shadow: 0px 0px 5px 0px rgba($color: #000, $alpha: .25);
      cursor: pointer;
      transform: scale(0.98);
      transition: all ease .25s;
      .grid-stack-item-content {
        overflow: auto;
        padding: 1.5em 1.5em;
        .heading {
          font-weight: 700;
          color: $tedred;
          margin: 0px 0px .75em 0px;
          &.big {
            margin: 0px 0px 1.2em 0px;
          }
        }
        .content {
          line-height: 1.5em;
          font-size: .9em;
          color: #444;
        }
        .content+.content {
          margin-top: 30px;
        }
      }
      &:hover {
        box-shadow: 0px 0px 8px 1px rgba($color: #000, $alpha: .25);
        transform: scale(1.0);
      }
      &:active {
        background-color: #efefef;
      }
    }
  }
}

#event {
  // height: 600px;
  h2 {
    &.heading {
      color: #FFF;
      font-weight: 300;
      text-align: center;
    }
  }
}

#update {
  height: 400px;
  h2 {
    color: #FFF;
    font-weight: 300;
    &.heading {
      margin: 40px 0px 40px 20px;
    }
  }
}

#map {
  background-color: #484848;
  background-image: url('/img/Kx-Image.png');
  background-repeat: no-repeat;
  background-position-x: right;
  color: #FFF;
  // height: 400px;
  #minimap {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 500px;
    left: 50%;
    img {
      width: 75%;
      border: 5px solid #FFF;
    }
  }
  .relative {
    position: relative;
  }
  .venue {
    margin-top: 2.15em;
    font-weight: 300;
    font-size: 5em;
    transform: rotate(-90deg);
  }
  .heading {
    font-weight: 500;
    font-size: 1.25em;
    margin-bottom: .5em;
    p {
      margin: 0;
    }
  }
  .content {
    p+p {
      margin-top: 1.5em;
    }
    .i {
      font-style: italic;
    }
    .light {
      font-weight: 300;
    }
    .thin {
      font-weight: 400;
    }
  }
  h2 {
    color: #FFF;
    font-weight: 300;
    &.heading {
      margin: 40px 0px 40px 20px;
    }
  }
  #kx {
    width: 42%;
    margin: 2.5em 0em 4em 0em;
  }
}

#contact {
  height: 500px;
  border-bottom: 8px solid $tedred;
  h2 {
    color: #FFF;
    font-weight: 300;
    &.heading {
      margin: 40px 0px 40px 20px;
    }
  }
}

.timeline dl {
  position: relative;
  top: 0;
  padding: 20px 0;
  margin: 0
}

.timeline dl:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 100;
  width: 2px;
  margin-left: -1px;
  content: '';
  background-color: #ccd1d9
}

.timeline dl dt {
  position: relative;
  top: 30px;
  z-index: 200;
  width: 120px;
  padding: 3px 5px;
  margin: 0 auto 30px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  background-color: #aab2bd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px
}

.timeline dl dd {
  position: relative;
  z-index: 200
}

.timeline dl dd .circ {
  position: absolute;
  top: 40px;
  left: 50%;
  z-index: 200;
  width: 22px;
  height: 22px;
  margin-left: -11px;
  background-color: #4fc1e9;
  border: 4px solid #f5f7fa;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%
}

.timeline dl dd .time {
  position: absolute;
  top: 31px;
  left: 50%;
  display: inline-block;
  width: 100px;
  padding: 10px 20px;
  color: #4fc1e9
}

.timeline dl dd .events {
  position: relative;
  width: 47%;
  padding: 10px 10px 0;
  margin-top: 31px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px
}

.timeline dl dd .events:before {
  position: absolute;
  top: 12px;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 6px
}

.timeline dl dd .events .events-object {
  margin-right: 10px
}

.timeline dl dd .events .events-body {
  overflow: hidden;
  zoom: 1
}

.timeline dl dd .events .events-body .events-heading {
  margin: 0 0 10px;
  font-size: 14px
}

.timeline dl dd.pos-right .time {
  margin-left: -100px;
  text-align: right
}

.timeline dl dd.pos-right .events {
  float: right
}

.timeline dl dd.pos-right .events:before {
  left: -12px;
  border-color: transparent #fff transparent transparent
}

.timeline dl dd.pos-left .time {
  margin-left: 0;
  text-align: left
}

.timeline dl dd.pos-left .events {
  float: left
}

.timeline dl dd.pos-left .events:before {
  right: -12px;
  border-color: transparent transparent transparent #fff
}

@media screen and (max-width: 767px) {
  .timeline dl:before {
    left: 60px
  }
  .timeline dl dt {
    margin: 0 0 30px
  }
  .timeline dl dd .circ {
    left: 60px
  }
  .timeline dl dd .time {
    left: 0
  }
  .timeline dl dd.pos-left .time {
    padding: 10px 0;
    margin-left: 0;
    text-align: left
  }
  .timeline dl dd.pos-left .events {
    float: right;
    width: 84%
  }
  .timeline dl dd.pos-left .events:before {
    left: -12px;
    border-color: transparent #fff transparent transparent
  }
  .timeline dl dd.pos-right .time {
    padding: 10px 0;
    margin-left: 0;
    text-align: left
  }
  .timeline dl dd.pos-right .events {
    float: right;
    width: 84%
  }
}