<html>
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.min.css">
	<link rel="stylesheet" href="assets/libs/gridstack/dist/gridstack.min.css">
	<title>TEDxKMUTT</title>
</head>

<body data-spy="scroll" data-target="#menu" data-offset="110">
	<nav class="navbar navbar-fixed-top">
		<div class="container-fluid">
			<div class="col-md-8 col-md-offset-2">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">
						<div class="logo"><img src="img/TEDxKMUTT1.png"></div>
					</a>
				</div>

				<div class="collapse navbar-collapse" id="menu">
					<ul class="nav navbar-right navbar-nav">
						<li class="active">
							<a href="#banner">
									HOME
									<div class="line"></div>
							</a>
						</li>
						<li>
							<a href="#about">
									ABOUT
									<div class="line"></div>
							</a>
						</li>
						<li>
							<a href="#schedule">
									SCHEDULE
									<div class="line"></div>
							</a>
						</li>
						<li>
							<a href="#venue">
									VENUE
									<div class="line"></div>
							</a>
						</li>
						<li>
							<a href="#contact">
									CONTACT
									<div class="line"></div>
							</a>
						</li>
						<li class="apply-now">
							<a href="https://www.eventpop.me/e/886-tedxkmutt">
									APPLY NOW
							</a>
						</li>
						<!--<li>
							<ul class="lang_select">
								<li class="selected">
									<a href="#">EN</a>
								</li>
								<li>
									<a href="#">TH</a>
								</li>
							</ul>
						</li>-->
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<div id="banner" class="section">
		<img src="img/COVER_image.png" alt="TEDxKMUTT MAN IN THE MIRROR">
	</div>

	<div id="about" class="container-fluid section">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="heading">ABOUT</h2>
				<div class="grids">
					<div class="grid-stack">
						<div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="5" data-gs-height="4">
							<div class="grid-stack-item-content">
								<h3 class="heading">
                                        What is TEDx?
                                    </h3>
								<p class="content">
									In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDx[name], where x = independently organized
									TED event. At our TEDx[name] event, TEDTalks video and live speakers will combine to spark deep discussion and connection in a small group. The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including
									ours, are self-organized.
								</p>
							</div>
						</div>
						<div class="grid-stack-item" data-gs-x="5" data-gs-y="0" data-gs-width="7" data-gs-height="4">
							<div class="grid-stack-item-content">
								<h3 class="heading big">
                                        About TEDx<br />x = independently organized event
                                    </h3>
								<p class="content">
									In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TED Talks video and live speakers combine to spark deep discussion and connection. These
									local, self-organized events are branded TEDx, where x = independently organized TED event. The TED Conference provides general guidance for the TEDx program, but individual TEDx events are self-organized. (Subject to certain rules and regulations.)
								</p>
							</div>
						</div>
						<div class="grid-stack-item" data-gs-x="0" data-gs-y="4" data-gs-width="8" data-gs-height="6">
							<div class="grid-stack-item-content">
								<h3 class="heading big">
                                        About TED
                                    </h3>
								<p class="content">
									TED is a nonprofit organization devoted to Ideas Worth Spreading. Started as a four-day conference in California 30 years ago, TED has grown to support its mission with multiple initiatives. The two annual TED Conferences invite the world's leading thinkers
									and doers to speak for 18 minutes or less. Many of these talks are then made available, free, at TED.com. TED speakers have included Bill Gates, Jane Goodall, Elizabeth Gilbert, Sir Richard Branson, Nandan Nilekani, Philippe Starck, Ngozi Okonjo-Iweala,
									Sal Khan and Daniel Kahneman.
								</p>
								<p class="content">
									The annual TED Conference takes place each spring in Vancouver, British Columbia. TED's media initiatives include TED.com, where new TED Talks are posted daily; the Open Translation Project, which provides subtitles and interactive transcripts as well
									as translations from volunteers worldwide; the educational initiative TED-Ed. TED has established the annual TED Prize, where exceptional individuals with a wish to change the world get help translating their wishes into action; TEDx, which supports
									individuals or groups in hosting local, self- organized TED-style events around the world, and the TED Fellows program, helping world-changing innovators from around the globe to amplify the impact of their remarkable projects and activities.
								</p>
							</div>
						</div>
						<div class="grid-stack-item" data-gs-x="8" data-gs-y="4" data-gs-width="4" data-gs-height="3">
							<div class="grid-stack-item-content">
								<h3 class="heading">
                                        KMUTT?
                                    </h3>
								<p class="content">
									KMUTT is a think tank for major fields ranging from science and technology to design, education and applied linguistics. It’s just the right choice if you’re looking for a study environment that combines vibrant university life and academic atmosphere
									perfectly.
									<br> For more information, visit <a href="http://global.kmutt.ac.th/">http://global.kmutt.ac.th/</a>
								</p>
							</div>
						</div>
						<div class="grid-stack-item" data-gs-x="8" data-gs-y="8" data-gs-width="4" data-gs-height="3">
							<div class="grid-stack-item-content">
								<h3 class="heading">
                                        TEDxKMUTT Team
                                    </h3>
								<p class="content">
									We are a community of people with all kinds of personalities and characters who are growing together with TEDxKMUTT. Though we might be from different majors and callings, whether it be Engineering, Science, Art, Architecture or Design, we share the same
									goal. We believe in change and we believe that everyone has potential, and with TEDxKMUTT we have an opportunity to bring out that potential and inspire the unsuspicious change-makers.
								</p>
							</div>
						</div>
						<div class="grid-stack-item" data-gs-x="0" data-gs-y="12" data-gs-width="6" data-gs-height="5">
							<div class="grid-stack-item-content">
								<h3 class="heading big">
                                        What is TEDxKMUTT?
                                    </h3>
								<p class="content">
									KMUTT is known as the university of technological advancement and its project-based learning system. Accordingly, every year students would come up with many wonderful projects, most of which are aimed to help the public community. However, they would
									always remain in the university after the final submission. From this concurring issue, the first members felt the need to change. They felt the urge to get people inspired and to start spreading their ideas. Then came along TEDx, an independently
									organized TED evnt that aims to spread ideas to the community by having inspirational individuals to come and share their stories, discoveries, and experiences. As opportunity served, the members founded TEDxKMUTT in 2015 with the goal of bringing
									people together and creating a community of change-makers, and in October 8th 2016, we will be holding our first official TEDxKMUTT ‘Man in the Mirror’ at KX Knowledge Exchange Center.
								</p>
							</div>
						</div>
						<div class="grid-stack-item" data-gs-x="6" data-gs-y="12" data-gs-width="6" data-gs-height="5">
							<div class="grid-stack-item-content">
								<h3 class="heading big">
                                        MAN IN THE MIRROR
                                    </h3>
								<p class="content">
									Inspirations can be found anywhere if one looks deeply enough, or in this case, listens. From the timeless song, Man in the Mirror by Michel Jackson, we drew inspiration for the TEDxKMUTT 2016. Here’s how some of the lyrics goes
								</p>
								<p class="content qoute">
									I'm starting with the man in the mirror<br> I'm asking him to change his ways<br> And no message could have been any clearer<br> If you want to make the world a better place<br> Take a look at yourself, and then make a change
								</p>
								<p class="content">
									And from this particular line, we felt both inspired and enlightened by its message. To make a change, no matter big or small, one needs to start with oneself first. Consequently, we felt the urge to spread this idea to the public community through TEDxKMUTT
									event. With the speakers acting as mirrors, we hope the audience would see a part of themselves, a reflection, in the speakers, and be inspired to make a change.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	<div id="schedule" class="col-md-8 col-md-offset-2 section">
		<h2 class="heading">EVENT SCHEDULE</h2>
		<div class="timeline">
			<dl>
				<dd class="pos-right clearfix">
					<div class="circ"></div>
					<div class="time">AUG 20</div>
					<div class="events">
						<div class="events-body">
							<h4 class="events-heading date">20 AUGUST 2016</h4>
							<h4 class="events-heading event-where">EVENTPOP</h4>
							<h4 class="events-heading event-regis">REGISTRATION</h4>
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
						</div>
					</div>
				</dd>
				<dd class="pos-left clearfix">
					<div class="circ"></div>
					<div class="time">SEP 5</div>
					<div class="events">
						<div class="events-body">
							<h4 class="events-heading date">5 SEPTEMBER 2016</h4>
							<h4 class="events-heading event-where">EVENTPOP</h4>
							<h4 class="events-heading event-regis">CLOSE REGISTRATION</h4>
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
						</div>
					</div>
				</dd>
				<dd class="pos-right clearfix">
					<div class="circ"></div>
					<div class="time">OCT 8</div>
					<div class="events">
						<div class="events-body">
							<h4 class="events-heading date">20 AUGUST 2016</h4>
							<h4 class="events-heading event-where">KX BUILDING</h4>
							<h4 class="events-heading event-regis">TEDxKMUTT</h4>
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
						</div>
					</div>
				</dd>
			</dl>
		</div>
	</div>

	<div id="map" class="col-xs-12">
		<div class="col-md-8 col-md-offset-2">
			<div class="col-md-6 col-xs-12">
				<img id="kx" src="img/kxl.png" alt="Knowledge XChange">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2">
							<div class="container-fluid">
								<div class="row">
									<div class="venue">
										VENUE
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-10">
							<div class="heading">
								<p>KX (Knowledge Exchange)</p>
								<p>7th - 8th Floor</p>
							</div>

							<div class="content">
								<p class="i light">
									between BTS Wongwian Yai<br> and BTS Krung Thonburi
								</p>
								<p class="light">
									King Mongkut’s University of<br> Technology Thonburi<br> 110/1 Krung Thonburi Road,<br> anglamphulang,
									<br> Khlongsan, Bangkok
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="minimap">
				<iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJo9ACXe6Y4jARVz1zYeQaUeI&key=AIzaSyCGkDrxuA1oFzgOsTiMqgWiY8aTQZYGTu4"></iframe>
			</div>
		</div>
	</div>

	<div id="contact" class="col-xs-12">
		<div class="col-md-8 col-md-offset-2">

			<div class="col-md-8 col-xs-12">
				<div class="row">
					<h2 class="heading">CONTACT</h2>
				</div>
				<div class="content">
					<p class="thin k">
						King Mongkut’s University of<br> Technology Thonburi
					</p>
					<p class="thin">
						Website:&nbsp&nbsp&nbsphttps://tedxkmutt.com<br> E-mail:&nbsp&nbsp&nbspsupport@tedxkmutt.com
					</p>
					<div class="social-zone">
						<div class="social">
							<img src="img/facebook_icon.png" alt="">
						</div>
						<div class="social">
							<img src="img/twitter_icon.png" alt="">
						</div>
						<div class="social">
							<img src="img/ig_icon.png" alt="">
						</div>
					</div>

					<div class="license">
						<p>
							This independent TEDx event is operated under license from TED.
						</p>
					</div>
				</div>
			</div>

			<div id="contact-form" class="ted-contact-form-control">
				<div class="ted-contact-form">
					<input type="text" placeholder="Name">
				</div>
				<div class="ted-contact-form">
					<input type="text" placeholder="Email">
				</div>
				<div class="ted-contact-form">
					<textarea class="no-resize" rows="5" placeholder="Description"></textarea>
				</div>
				<div class="ted-contact-form">
					<a href="#">
						<button>Send</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	</div>

	<script src="assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="assets/libs/jquery-ui/jquery-ui.min.js"></script>
	<script src="assets/libs/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
	<script src="assets/libs/lodash/dist/lodash.min.js"></script>
	<script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="assets/libs/gridstack/dist/gridstack.min.js"></script>

	<script type="text/javascript">
		$(function() {
			var options = {
				cellHeight: 85,
				verticalMargin: 10
			};
			$('.grid-stack').gridstack(options);
		});
		$(function(){
			$('#minimap').on('click', function(){
				$(this).addClass('interact');
			});
		});
	</script>

</body>

</html>