/* Main TEDxKMUTT Sass File */

$pd-side: 210px
$tedred: #e80000

//Global Config
body
    font-family: 'Roboto', sans-serif
    background-color: black
    background-image: url("/img/BACKGROUND1.png");

.container-fluid
    padding: 0
    margin: 0

.header
    font-size: 35px
    font-weight: 100
    color: white
    margin-bottom: 30px

::-webkit-input-placeholder
   color: white

:-moz-placeholder
   color: white

::-moz-placeholder
   color: white

:-ms-input-placeholder
   color: white

//Component Config
.navbar
    width: 100%
    border-radius: 0
    margin: 0
    padding: 30px $pd-side 30px $pd-side
    background-color: white
    display: inline-flex

    .logo
        margin-right: 20px

        img
            max-height: 50px

    .menu
        width: 100%
        margin: auto

        .menu-item
            text-align: center

        .lang
            display: inline-flex

.banner
    width: 100%

.about
    background-image: url("/img/ABOUT_bg.png");

    .card
        margin-bottom: 25px
        padding: 20px
        border-radius: 2px
        background-color: white

        h3
            margin: 0 0 20px 0
            color: $tedred
            font-weight: 500

.contact
    color: white

    .social-icon
        width: 100%
        margin: 10px 0 10px 0

        img
            margin-right: 10px
            width: 30px
            height: 30px

    form
        text-align: right

        input
            width: 100%
            padding: 8px
            margin-bottom: 8px
            border: 0
            border-radius: 0
            background-color: #acacac

        textarea
            width: 100%
            margin-bottom: 8px
            padding: 5px
            background-color: #acacac
            resize: none

        button
            padding: 10px
            width: 200px
            color: $tedred
            font-weight: 700


.footer
    witdh: 100%
    height: 10px
    background-color: $tedred
