/* Main TEDxKMUTT Sass File */

$pd-side: 210px

body
    font-family: 'Roboto', sans-serif
    background-color: darkgray

.navbar
    width: 100%
    border-radius: 0
    margin: 0
    padding: 30px $pd-side 30px $pd-side
    background-color: white
    display: inline-flex

    .logo
        margin-right: 20px

        img
            max-height: 50px

    .menu
        width: 100%
        margin: auto

        .menu-item
            text-align: center

        .lang
            display: inline-flex

.banner
    width: 100%

.container-fluid
    padding: 0 $pd-side 0 $pd-side
